@import '../../../variables';

ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.text-key {
    color: $terciary-font-color;
}

.text-value {
    color: $secondry-color;
    font-weight: bold;
}


.striped > li {
    /*border-bottom: 1px solid #F4F4F4;*/
}

.striped > li:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.striped > li:last-child {
    border-bottom: none;
}
