@import "../../variables";
.header {
  background: white;
  min-height: 16vh;
  width: 100%;

  .p-inputtext {
    border-radius: 50px;
    border: 1.5px solid black;
    width: 150px;
    height: 25px;
  }
}

.title {
  display: flex;
  flex-direction: row;
}

.p-find-afore-container {
  width: 50vw;
  margin-left: 20%;
  .title {
    display: flex;
    flex-direction: row;
  }
  .p-text-inicio {
    color: $secondry-color;
    font-size: 12px;
  }
  .p-second-text-inicio {
    color: $terciary-font-color;
    font-size: 12px;
  }
  .text-tittle {
    white-space: pre-line;
    font-size: 16px;
    color: $terciary-font-color;
    padding-top: 15px;
  }
  .text-tittle-min {
    white-space: pre-line;
    font-size: 12px;
    color: $terciary-font-color;
    padding-top: 15px;
  }
  .text-tittle-bold {
    color: $terciary-font-color;
    //text-align: center;
    font-weight: bolder;
    margin-top: 2px;
    padding-top: 15px;
  }

  .tittleFooter-afore {
    color: $terciary-color;
    font-size: 14px;
    font-weight: bold;
    padding-top: 40px;
    width: 523px;
  }

  .p-dialog-title {
    text-align: center;
    width: 100%;
    color: $terciary-color;
    font-size: 38px;
    border-bottom: 2px solid $primary-color;
    padding-bottom: 10px;
  }

  .p-dialog-header-icons {
    right: -35px;
    top: -35px;
    position: absolute;

    .p-dialog-header-icon {
      color: white;
      border: 1px solid white;
      transition: 0.2s;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.6);
        transition: 0.2s;
      }
    }
  }
}
