@import "../../variables";
.header {
  background: white;
  min-height: 16vh;
  width: 100%;

  .p-inputtext {
    border-radius: 50px;
    border: 1.5px solid black;
    width: 150px;
    height: 25px;
  }
}

.boxContent {
  display: flex;
  justify-content: center;
  height: 380px;
}

.primaryContent {
  background-color: #ffffff;
  width: 80%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  //padding: 20px;
  border-radius: 15px;
}
.tittleContentOne {
  color: $secondary-font-color;
  font-size: 35px;
  text-align: left;
  padding: 20px 50px 30px 50px;
}
.tittleContentTwo {
  color: $secondary-font-color;
  text-align: justify;
  font-size: 20px;
  padding: 10px 100px 10px 50px;
}
.contentOne {
  background-color: aqua;
  width: 39%;
  height: auto;
  height: 380px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.contentTwo {
  background-color: #ffffff;
  width: 30%;
  height: 95%;
  padding-left: 40px;
}

.imageOne {
  background-image: url("./../../assets/img/afores/ImageContentHomeItem2.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}

.imageTwo {
  background-image: url("https://i.ytimg.com/vi/KN8E8LDCppY/maxresdefault.jpg");
  width: 100%;
  height: 145px;
}

.imageThere {
  background-image: url("https://i.ytimg.com/vi/KN8E8LDCppY/maxresdefault.jpg");
  width: 100%;
  height: 140px;
}

.banner {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  height: 150px;
  border: 1px solid #484848;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #9d9d9d;
}

.titleBanner {
  font-size: 20px;
  color: #62b5e5;
}

.descriptionBanner {
}

.contentTitleBanner {
  width: 25%;
}

.contentTwoBanner {
  width: 40%;
  margin: auto;
  padding-left: 6%;
  height: 100%;
  padding-top: 1.5%;
}

.contentThreeBanner {
  width: 20%;
  margin: auto;
  padding-left: 3%;
  height: 100%;
  padding-top: 3%;
}

.contentImageBanner {
  width: 20%;
  overflow: visible;
  position: relative;
}

.sectionContainer {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4%;
  padding-bottom: 10%;
}

.imageTelBanner {
  background-image: url("./../../assets/img/telefono2.png");
  width: 130%;
  height: 130%;
  background-position: bottom;
  //background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.imageRandomBanner {
  background-image: url("./../../assets/img/equis.png");
  width: 15px;
  height: 18px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.textsBanner {
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: bold;
  color: #62b5e5;
}

.aforeName {
  background-color: #63a534;
  margin-bottom: 35px;
  color: white;
  /* margin-left: 8px; */
  padding-left: 17px;
  height: 25px;
  text-align: inherit;
}

.calculatorContent {
  height: 50%;
  background-color: #f0f0f1;
  //border: 1px solid #484848;
  //padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #9d9d9d;
  //max-width: 306px;
  margin: 0 auto;
}

.itemAfore {
  height: 50%;
  background-color: #f0f0f1;
  flex-direction: row;
  //border: 1px solid #484848;
  //padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #9d9d9d;
  margin-bottom: 15px;
  //margin-top: 7px;
}

.imageTypesAfore {
  background-image: url("./../../assets/img/afores/coppel.svg");
  width: 200px;
  height: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.imageAforeType {
  background-image: url("./../../assets/img/afores/imageContentItem2.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.imageKid {
  background-image: url("./../../assets/img/afores/ImageContentItem3.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.contentOpacity {
  width: 45%;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.buttoncl {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.appDesc {
  color: #737373;
  font-size: 20px;
}

.imageDialogDownload {
  background-image: url("./../../assets/img/ImagenModalConsar.png");
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flexcontainerDownload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.itemsDownload {
  background-color: #ebf2f5;
  height: 150px;
  width: 200px;
}
.itemsDownloadText {
  background-color: #f2f7f8;
  height: 60px;
  width: 200px;
  font-size: 11px;
  padding-top: 13px;
  text-align: initial;
  padding: 12px;
  text-align: justify;
}

.centerImageDownload {
  //background-image: url("./../../assets/img/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100px;
  margin-top: 22px;
}
.centerImageDownloadGoogle {
  //background-image: url("./../../assets/img/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  margin-top: 40px;
}

.tittleFooter {
  color: $terciary-color;
  font-size: 16px;
}
