@import "../../variables";

.header {
  background: white;
  min-height: 16vh;
  width: 100%;

  a {
    text-decoration: none;
    color: $secondry-color;
  }

  .p-inputtext {
    border-radius: 50px;
    border: 1.5px solid black;
    width: 150px;
    height: 25px;
  }

  .pi-search:before {
    color: $secondry-color;
    font-size: 1em;
    margin: auto 10px;
  }

  .p-inputtext {
    padding: 0.5rem 1rem;
  }

  .pi-bars:before {
    color: $primary-color-background-menu;
  }
}

.menu {
  justify-content: right;
}

.botonera {
  background: $bg-secondary;
  font-size: 2em;
  text-align: center;
  color: $primary-color-background-menu;
  min-height: 16vh;

  div {
    border-left: 2px solid #e7e7e9;
    align-items: center;
  }
}

.bttn-sesion {
  background: $primary-color;
  height: 25px;
  white-space: nowrap;
  text-align: center;
}

.bttn-registro {
  background: $terciary-color;
  border: $terciary-color;
  height: 25px;
}

.bars {
  color: $primary-color;
}

//Styles for main menu
@mixin texts-menu {
  background: transparent;
  color: $secondary-font-color;
  text-decoration: none;
}

@mixin styles-dialog {
  border-width: 5px;
  margin-left: -12px;
  border-bottom: 25px solid $primary-color-background-menu;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.no-main-menu {
  display: none;
}
.main-menu {
  margin-left: 20px;
  background: $primary-color-background-menu;
  color: $secondary-font-color;
  border: 0 none;
  border-radius: 14px;
  box-shadow: none;
  border-width: 100px;

  &.p-overlaypanel {
    margin-top: 20px;
    &::before {
      @include styles-dialog();
    }
    &::after {
      @include styles-dialog();
    }
  }

  &.menu {
    width: 92%;
  }
  &.space-help-menu {
    padding: 15px 0px 15px 0px;

    .p-overlaypanel-content {
      padding: 15px 10px 15px 10px;
    }
  }
  // &::after{
  //     border-bottom:10px solid $bg-primary;
  // }

  & .columns-container {
    display: flex;
    justify-content: space-around;
  }

  & .table-container {
    flex: 1;
    display: flex;
    & .td-aling {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    & .td-bar {
      border-left: 1px solid $bg-primary;
    }
  }

  .main-menu-opt {
    text-align: left;
    background-color: transparent;
    border: none;
    font-family: $font-main;

    &.column-title {
      font-size: 22px;
      font-weight: bold;
      & .text-column-title {
        @include texts-menu();
        text-align: left;
        margin: 10px 13px 10px 13px;
      }
    }
    &.column-subtitle {
      & .text-column-subtitle {
        @include texts-menu();
        border: none;
        text-align: left;
        margin: 5px 5px 5px 5px;
        font-weight: bold;
        font-size: 13px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    &.column-option {
      font-size: 13px;
      font-weight: 200;
      & .text-column-option {
        @include texts-menu();
        font-weight: 100;
        border: none;
        text-align: left;
        margin: 5px 5px 5px 5px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
.user-name {
  padding-left: 35px;
  color: #016484;
}
.user-bold {
  font-weight: bold;
}
.hlp-icon {
  height: 1.6rem;
}
