@import '../../../variables';

.buttonAfore {
    transition: all 0.2s;
    min-width: 150px;
    .arrow {
        height: 102%;
        position: absolute;
        right: 2px;
        z-index: 2;
    }

    .extra {
        background-color: $primary-color-300;
        width: 14px;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
        transition: all 0.2s;
    }

    &:disabled{
        .extra{
            background-color: #AEAEAE;
            cursor: not-allowed;
        }
    }

    &:enabled:hover {
        .extra{
            background-color: #91fa4e;
        }
    }

    &:enabled:active {
        .extra{
            background-color: #55bc13;
        }
    }

    &.p-button-secondary {
        background-color: $secondry-color;

        .extra {
            background-color: $secondry-color-300;
        }

        &:enabled:hover {
            .extra {
                background-color: #06b2ee;
            }
        }

        &:enabled:active {
            .extra {
                background-color: #006c92;
            }
        }
    }

    &.p-button-warning {
        background-color: $terciary-color;

        .extra {
            background-color: $terciary-color-300;
        }

        &:enabled:hover {
            .extra {
                background-color: #ffbc80
            }
        }

        &:enabled:active {
            .extra {
                background-color: #e5832c;
            }
        }
    }
}