@import '../../variables';

.register {
    margin: 70px 40px;

    .header-register {
        .title {
            color: $primary-color;
        }

        .subtitle {
            font-size: 18px;
            color: $terciary-font-color;
            font-weight: bold;
        }
    }

    .card {
        padding: 50px 30px;
        background: #F4F4F4;
        border-radius: 10px;

        .nss-image {
            width: 50px;

            img {
                width: 100%;
            }
        }

        .nss {
            width: 100%;

            .p-inputtext,
            .p-inputnumber {
                width: 100%;
            }
        }

        .info {
            text-align: right;
            flex-grow: 2;
            font-size: 12px;
            color: $terciary-font-color;
        }
    }

    .aforeInfo{
        .aforeImg{
            width: 350px;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }

        .infoSquare{
            border-radius: 10px;
            background-color: #e2e7f0;
            border-bottom: 10px solid #cfd5df;
            padding: 0;

            .head{
                border-radius: 10px 10px 0  0;
                padding: 15px 10px;
                background-color: #cfd5df;
                text-align: center;
                color: $terciary-font-color;
                
                h3{
                    font-size: 20px;
                }
            }

            .content{
                padding: 10px;
                font-size: 55px;
                min-height: 150px;

                .p-rating{
                    display: flex;
                    align-items: center;

                    .p-rating-icon{
                        color: rgb(255, 193, 21);
                        font-size: 30px;
                    }
                }
            }
        }

        .conditions{
            text-align: left;
            color: $terciary-font-color;
            font-size: 12px;
        }
    }
}

.item-identificacion{
    color: #74B62B;
    font-weight: bold;
    font-size: 20px;
}
.tipo-identificacion{
    font: Open Sans;
    color: #737373;
    font-size: 14px;
}
.texto-centrado{
    text-align: center;
}
.texto-negrita{
    font-weight: bold;
}
.tipo-video{
    color: #737373;
    font-size: 18px;
}
.texto-derecha {
    text-align: right;
}
.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .p-field {
        margin-bottom: unset;
    }
    .p-field-checkbox, .p-field-radiobutton{
        display: unset;
       // display: flex;
        flex-direction: row;
    }
}
.margin_texto{
    padding-left: 20%;
    padding-right: 20%;
}
.afores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    margin: 15px 20px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 25px;
}

.title {
    color: $primary-color;
    margin: 0px;
    font-size: 1.5em;
    text-align: center;

}

.subtitle {
    color: $terciary-font-color;
    text-align: center;
    font-weight:bolder;
    margin-top: 2px;
}

.rec{
    width: 129px;
    height: 121px;
    background: #f05448;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 900;
    color: #fcecef;
    cursor: pointer;
    margin: 20px;
}