//Temporal File@import '../../variables';
@import '../../variables';

.register {
    margin: 70px 40px;

    .header-register {
        .title {
            color: $primary-color;
        }

        .subtitle {
            font-size: 18px;
            color: $terciary-font-color;
            font-weight: bold;
        }
    }

    .nssCard {
        padding: 50px 30px;
        background: #F4F4F4;
        border-radius: 10px;

        .nss-image {
            width: 50px;

            img {
                width: 100%;
            }
        }

        .nss {
            width: 100%;

            .p-inputtext,
            .p-inputnumber {
                width: 100%;
            }
        }

        .info {
            text-align: right;
            flex-grow: 2;
            font-size: 12px;
            color: $terciary-font-color;
        }
    }

    .aforeInfo {
        .aforeImg {
            width: 350px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        .infoSquare {
            border-radius: 10px;
            background-color: #e2e7f0;
            border-bottom: 10px solid #cfd5df;
            padding: 0;

            .head {
                border-radius: 10px 10px 0 0;
                padding: 15px 10px;
                background-color: #cfd5df;
                text-align: center;
                color: $terciary-font-color;

                h3 {
                    font-size: 20px;
                }
            }

            .content {
                padding: 10px;
                font-size: 55px;
                min-height: 150px;

                .p-rating {
                    display: flex;
                    align-items: center;

                    .p-rating-icon {
                        color: rgb(255, 193, 21);
                        font-size: 30px;
                    }
                }
            }
        }

        .conditions {
            text-align: left;
            color: $terciary-font-color;
            font-size: 12px;
        }
    }

    .serviceContract {
        .contratCard {
            padding: 20px;
            border-radius: 10px;
            border: 1px solid $ligth-color;

            .overflow {
                overflow: scroll;
                overflow-x: hidden;
                position: relative;
                max-height: 350px;
            }
        }

        .p-button-link {
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }

        .p-inputtext {
            width: 450px;
        }

    }
}

.recordVideoModal {
    width: 60vw !important;

    .p-dialog-header {
        .p-dialog-title {
            border: none !important;
            font-size: 28px !important;
            padding-bottom: 0 !important;
        }
    }

    .p-dialog-content {
        overflow: unset;
    }

    .videoContainer {
        background-color: gray;
        border: 2px solid rgb(219, 19, 79);
        $width: 100%;
        width: $width;
        padding-bottom: ($width * 0.6)
    }

    .permissionsButtons {
        padding: 0;
    }

    .actionButton {
        padding: 0;

        button {
            margin-right: 0;
        }
    }

    .recordButton {
        width: 80px;

        img {
            width: 100%;
        }
    }

    .p-dialog-footer {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}