@import '../../variables';

.footer-container {
  border-top-left-radius:     40px 20px;
  border-top-right-radius:    30px 40px;
  
  //border: #000000 1px solid;
  height: auto;
  margin: 0 auto;
  width: 95%;
  //background-color: #63A535;
  color: white;
  left:37px;
  bottom:0px; 
 


}
.footer-side-left {
  background-color: $primary-color-400;
  border-top-left-radius: 40px;
}
.footer-side-center {
  background-color: $primary-color-450
}
.footer-side-right {
  background-color: $primary-color-600;
  border-top-right-radius: 40px;
}

.footer-verdeoscuro {
  background-color: $primary-color-600;
}
.footer-verdemedio {
  background-color: $primary-color-450
}
.footer-verdeclaro {
  background-color: $primary-color-400;
}
.item-services{
  color: $primary-font-color;
  font-weight: bold;
  font-size: 11px;
}
.footer-left{
  padding-left: 25px;
}
.title-item-services{
  margin-bottom: 0px;
}
.copyright-footer{
  font-size: 11px;
  font-family: 'Open Sans';
}
.uno{
  border: 2px solid #f70dbc;
}
.dos{
  border: 2px solid $primary-font-color;

}
.secure-img{
  margin-top: 30px;
}

.consar-fuente {

font-size: 14px;
}
.consar-fuente2 {
  
  font-size: 12px;
  }

.redes-fuente {

  font-size: 18px;
  }
  
  .secure-img3{
    margin-top: 10px;
  }
  