@import "../../../variables";
$border-radius: 20px;

.dialogDownloadApp {
  border-radius: $border-radius;
  width: 50vw;

  &.strong {
    .p-dialog-content {
      text-align: center;
    }

    .p-dialog-content {
      font-size: 20px;
      font-weight: bold;
      color: $terciary-font-color;
    }
  }

  &.hideClose {
    .p-dialog-header-icons {
      display: none;
    }
  }

  .p-dialog-header {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    cursor: inherit;

    .p-dialog-header-icons {
      right: -35px;
      top: -35px;
      position: absolute;

      .p-dialog-header-icon {
        color: white;
        border: 1px solid white;
        transition: 0.2s;

        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.6);
          transition: 0.2s;
        }
      }
    }
  }

  .p-dialog-content {
    font-size: 14px;
    text-align: justify;
    padding-bottom: 0;

    &:only-child {
      width: 80%;
    }
  }

  .p-dialog-footer {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

    .p-field-checkbox {
      margin-bottom: 0;

      label {
        color: $terciary-font-color;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 768px) {
  .dialogDownloadApp {
    width: 90vw;

    .p-dialog-header {
      .p-dialog-header-icons {
        right: 5px;
        top: 5px;

        .p-dialog-header-icon {
          color: $terciary-font-color;
          border: 1px solid $terciary-font-color;
        }
      }
    }
  }
}
