@import '../../variables';

.kids-registry {
    display: flex;
    margin: 70px 40px;

    .kids-parent-container{
        display: flex;
        flex-direction: column;
    }

    .kids-registry-container {
        flex-grow: 2;
    }

    .kids-obligatorio{
        font-size: 12px;
        margin-left: 24rem;
    }


    .p-scrollpanel .p-scrollpanel-bar {
        background-color: $primary-color;
        opacity: 1;
        transition: background-color .2s;
        &::-webkit-scrollbar-track {
            background-color: $secondry-color;
        }
    }
}

.kids-form {
    height: 100%;

    .kids-header{
        text-align: center;
    }

    .kids-title {
        color: $primary-color;
        margin: 0;
        font-size: 27px;
    }

    .kids-subtitle {
        white-space: pre-line;
        font-size: 16px;
        color: $terciary-font-color;
    }

    .kids-info {
        font-size: 20px;
        font-weight: bold;
        color: $terciary-font-color;
    }

    .kids-margin-top{
        margin-top: 30px;
    }

    .kids-margin-bottom{
        margin-bottom: 50px;
    }

    .formInputs {

        &:last-child {
            margin-bottom: 5px;
        }

        .p-avatar {
            background-color: rgba(0, 0, 0, 0.12);
        }

        .p-inputtext {
            width: 450px;
        }

        .instructions {
            color: $terciary-font-color;
            font-size: 14px;
            align-self: end;
        }
    }
}

.kids-title-2 {
    color: $primary-color;
    font-size: 27px;
}

.card-kids{

    margin-bottom: 1.5rem;

    .p-col{
        padding: 0;
    }

    &:hover .box-shadow {
        cursor: pointer;
        background-color: #DBDBDB;
    }

    .img-kid svg{
        width: 50%;
        margin-left: 25%;
        margin-top: 10%;
    }

    .img-kid svg path{ // costom icon color
        /* fill: purple; */
    }

    .img-brand {
        width: 90%;
        margin-top: -7%;
    }

    li {
        list-style: none;
    }

    .box-saldo{
        color:  $secondry-color;
        font-size: 24px;
    }
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    background-color: #E9E9E9;
    border-radius: 10px;
    width: 700px;
    min-height: 80px;
}

.color-green {
    color: $primary-color;
}

.color-blue {
    color: #08088A;
    font-weight: bold;
}

.color-grey{
    color: $terciary-font-color;
}

.text-center{
    text-align: center;
}


.w-100{
    width: 100%;
}

.password-toggle-icon{
    color: $primary-color;
    margin-left: 5px;
    font-size: 25px;
}
