@import '../../variables';

.login {
    margin: 70px 40px;
}

.form {
    height: 100%;

    .formHeader {
        text-align: center;

        .title {
            color: $primary-color;
            margin: 0;
            font-size: 27px;
        }

        .subtitle {
            font-style: 16px;
            color: $terciary-font-color;
        }

        .info {
            font-size: 20px;
            font-weight: bold;
            color: $terciary-font-color;
        }
    }

    .formInputs {


        &:last-child {
            margin-bottom: 5px;
        }

        .p-avatar {
            background-color: rgba(0, 0, 0, 0.12);
        }

        .p-inputtext {
            width: 450px;
        }

        .instructions {
            color: $terciary-font-color;
            font-size: 14px;
            align-self: end;
        }
    }

    .securityCode {
        .title {
            font-size: 30px;
            text-align: center;
            color: $terciary-font-color;
        }

        .securityCodeInputs {
            .p-inputtext {
                width: 60px;
                height: 60px;
                background-color: rgb(224, 224, 224);
                border: none;
                text-align: center;
                font-size: 40px;

                &:focus {
                    border: 2px solid $primary-color;
                    box-shadow: none;
                }
            }
        }

        .a-secCode {
            font-size: 16px;
        }
    }

    .advices {
        color: $terciary-font-color;

        .advice {
            text-align: center;

            .info {

                span {
                    padding: 0px 15px;
                    border-right: 5px solid $primary-color;

                    &:last-child {
                        border: none;
                        border-right: none;
                    }
                }

            }
        }
    }
}

.paswordStrength {
    width: 450px;

    .p-password-meter {
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 50px;
        height: 20px;
        background: white;
        flex-grow: 2;

        .p-password-strength {
            background: $primary-color;
            border-radius: 50px;
        }
    }

    .pi {
        color: $primary-color;
    }
}


@media (max-width: 768px) {
    section {
        margin: 40px 20px;
    }

    .login {
        .loginL {
            width: 100%;
            margin-right: 0 !important;
        }

        .form {
            .formInputs {

                .p-password,
                .p-autocomplete,
                .p-float-label,
                .p-inputtext {
                    width: 100%;
                }
            }

            .securityCodeInputs {
                .p-inputtext {
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                }
            }
        }
    }

    .lateralBanner {
        display: none !important;
    }

    .paswordStrength {
        width: 100%;
    }
}