@import '../../../variables';

.lateralBanner {
    .lateralButton {
        background-color: lightgray;
        border-radius: 10px;
        $width: 100%;
        width: $width;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .lateralBanner {
        display: none !important;
    }
}