@import '../../../variables';

.wrapper-progressBar {
    width: 100%;
    margin-bottom: 40px;
}

.progressBar {
    padding-left: 0px;
    & .text-style{
        font-family: $font-main;
        position: absolute;
        top: 18%;
        right: 0;
        left: 0;
        bottom: 0;
        &.filled{
         color: $bg-primary;   
        }
    }
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: calc(100% / var(--overlaySteps));
    position: relative;
    text-align: center;
    display: inline-flex;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid $bg-primary;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: $bg-primary
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $bg-primary;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: $secondry-color;
}

.progressBar li.current:before{
    border-color: $primary-color;
    background-color: $primary-color;
}

.progressBar li.next:before{
    border-color: $primary-color;
    background-color: $bg-primary;
}

.progressBar li.next::after{
    background-color: $primary-color;
}

.progressBar li.active:before {
    border-color: $secondry-color;
    background-color: $secondry-color
}

.progressBar li.active + li:after {
    background-color:$primary-color;
}